<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Speed Detection</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <h1>Speed Detection</h1>
        <form action="/save_file" method="post" enctype="multipart/form-data">
            <label for="folderInput">Select a folder:</label>
            <input type="file" id="folderInput" name="videos" />
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
